---
layout: default
title: BIT-школа
---

<div class="section hide-overflow mobile-photo">
  <div class="container flex left-mobile">
    <div class="left-content home">
      <div class="go-all-in">
        <div class="go">Ка</div>
        <div class="all">рь</div>
        <div class="go-in">ера</div>
      </div>
      <div class="small-suisse fixed-width left-mobile">Школа обучения бизнесу и технологиям BITS на 100% работает в режиме онлайн и использует интерактивные технологии для обучения людей техническим навыкам необходимым чтобы начать новую карьеру всего за 6 месяцев<br></div>
      <div class="cta-holder">
        <a href="/register" class="round-btn bigger right-space w-inline-block">
          <div>Подать заявку сейчас</div>
        </a>
      </div>
    </div>
    <div class="home-girl"></div>
  </div>
</div>
<div class="section">
  <div class="container flex top center-on-mobile">
    <div class="left-content">
      <div class="medium-tiempos padding">BITS предназначена для твоего успеха<br></div>
      <div class="small-suisse fixed-width">Мы вместе: от твоего первого дня занятий до первого дня на работе и за ее пределами.<br><br></div>
    </div>
    <div class="callout-container">
      <img src="./index_files/5e24bf10945b297ac6620d47_red-arrow-horizontal.png" width="361" sizes="(max-width: 991px) 100vw, 37vw" alt="" class="horizontal-red-arrow">
      <div class="vertical-callout">
        <div class="tiempos">Не плати ничего заранее<br></div>
        <img src="./index_files/5e156bcd9ba5cbffdd421c8a_underline-red.png" width="210" alt="" class="red-scribble">
        <div class="small-suisse small-padding">Ты не платишь за обучение, пока не найдешь работу с доходом не менее 12 тыс $ в год <a href="/career-placement" class="link-underline _18">(Детали)</a><br><br><a href="/career-placement" class="link-underline _18"></a><br></div>
      </div>
      <div class="vertical-callout">
        <div class="tiempos">Мы поможем тебе c наймом<br></div>
        <div class="small-suisse small-padding">Мы поможем найти работу, провести собеседование и договориться о зарплате <a href="/career-placement" class="link-underline _18">(Детали)</a><br><br><a href="/career-placement" class="link-underline _18"></a><br></div>
      </div>
    </div>
  </div>
</div>
{% include it_works.html %}
{% include rethink.html %}
{% include half_year_to.html %}
