---
layout: default
title: BIT-школа
---

<div class="section hide-overflow mobile-photo">
  <div class="container flex left-mobile">
    <div class="left-content home">
      <div class="go-all-in">
        <div class="go"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Go</font></font></div>
        <div class="all"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class="">all</font></font></div>
        <div class="go-in"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">in.</font></font></div>
      </div>
      <div class="small-suisse fixed-width left-mobile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BITS на 100% работает в режиме онлайн и использует интерактивные технологии для обучения людей техническим навыкам, которые им необходимы, чтобы начать новую карьеру всего за 4 месяца.</font></font><br></div>
      <div class="cta-holder">
        <a href="/rubyexperts/register" class="round-btn bigger right-space w-inline-block">
          <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Подать заявку сейчас</font></font></div>
        </a>
      </div>
    </div>
    <div class="home-girl"></div>
  </div>
</div>
<div class="section">
  <div class="container flex top center-on-mobile">
    <div class="left-content">
      <div class="medium-tiempos padding"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BITS предназначена для студенческого успеха.</font></font><br></div>
      <div class="small-suisse fixed-width"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Мы в этом вместе, от вашего первого дня занятий до вашего первого дня на работе - и за ее пределами. </font></font><br><font style="vertical-align: inherit;"></font><br></div>
    </div>
    <div class="callout-container">
      <img src="./index_files/5e24bf10945b297ac6620d47_red-arrow-horizontal.png" width="361" sizes="(max-width: 991px) 100vw, 37vw" alt="" class="horizontal-red-arrow">
      <div class="vertical-callout">
        <div class="tiempos"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Не платите ничего заранее</font></font><br></div>
        <img src="./index_files/5e156bcd9ba5cbffdd421c8a_underline-red.png" width="210" alt="" class="red-scribble">
        <div class="small-suisse small-padding"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ты не платишь за обучение, пока не найдешь работу, зарабатывая не менее 12 тысяч долларов в год. </font><a href="/rubyexperts/career-placement" class="link-underline _18"><font style="vertical-align: inherit;">подробнее</font></a></font><br><font style="vertical-align: inherit;"></font><br><a href="/rubyexperts/career-placement" class="link-underline _18"><font style="vertical-align: inherit;"></font></a><br></div>
      </div>
      <div class="vertical-callout">
        <div class="tiempos"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Мы поможем вам c наймом</font></font><br></div>
        <div class="small-suisse small-padding"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Мы поможем вам найти работу, провести собеседование и договориться о зарплате. </font><a href="/rubyexperts/career-placement" class="link-underline _18"><font style="vertical-align: inherit;">подробнее</font></a></font><br><font style="vertical-align: inherit;"></font><br><a href="/rubyexperts/career-placement" class="link-underline _18"><font style="vertical-align: inherit;"></font></a><br></div>
      </div>
    </div>
  </div>
</div>

{% include students.html %}
{% include it_works.html %}
{% include rethink.html %}
{% include half_year_to.html %}
{% include courses.html %}