---
layout: default
title: BITS
---
<div class="center-container">
  <div class="lp-header-long-copy">
    <div class="large-tiempos medium-tiempos">Учитесь кодировать из дома. Получите <span class="bright-red">50% от</span> вашего обучения.</div>
    <div class="small-suisse">В ответ на возросший спрос на качественное онлайн-образование в результате пандемии COVID-19 мы снижаем начальную цену наших программ с 30 до 15 тыс. Долл. США для соответствующих критериям кандидатов. Теперь до июня 2020 года кандидаты, которые желают заплатить авансом, а не подписывать <a href="/isa" class="link-3">Соглашение о доле дохода (ISA)</a> , получат 50% скидку на обучение. <br>Эти<br> трудные времена для всех, и мы надеемся , что это предложение обеспечивает более доступный путь к высшему образованию. <br><br><span class="small-btn-text">* Недоступно для резидентов CA, TX и GA.</span><br></div>
    <a href="/register" class="round-btn-centered bigger w-inline-block">
      <div>Применить сейчас</div>
    </a>
  </div>
  <div class="w-container"><img src="./images/upfront-tuition.png" sizes="100vw" alt="" class="image-15"><img src="./images/5e692ee06477e037507a1e1e_arrow-brand-red-asset-4@4xb.png" width="300" sizes="(max-width: 991px) 100vw, 177px" alt="" class="updown-red-arrow-2"></div>
</div>
{% include it_works.html %}
{% include rethink.html %}
{% include half_year_to.html %}
{% include courses.html %}