<div class="section offset">
  <div class="container">
    <div class="feature-text-container center-flex">
      <div class="medium-tiempos center"> <span class="notranslate" > Выберите путь, который соответствует вашей страсти.</span> <br></div>
      <div class="center-container flex">
        <div class="track-image data"></div>
        <div class="track-text">
          <div class="medium-weight-suisse"> <span class="notranslate" > Наука о данных</span> <strong><br></strong> </div>
          <div class="suisse"> <span class="notranslate" > Получить интенсивную подготовку для карьеры в области искусственного интеллекта и машинного обучения.</span> <strong><br><br></strong> </div>
        </div>
        <div class="track-image web"></div>
        <div class="track-text">
          <div class="medium-weight-suisse"> <span class="notranslate" > Full Stack Web</span> <strong><br></strong> </div>
          <div class="suisse"> <span class="notranslate" > Изучите основы веб-интерфейса, серверной части, серверов, баз данных, API-интерфейсов и многого другого.</span> <strong><br></strong> </div>
        </div>
        <div class="track-image"></div>
        <div class="track-text">
          <div class="medium-weight-suisse"> <span class="notranslate" > iOS разработка</span> <strong><br></strong> </div>
          <div class="suisse"> <span class="notranslate" > Создавайте мощные приложения для iPhone и iPad с помощью Swift, Objective-C и Cocoa Touch.</span> <br> <span class="notranslate" ></span> <strong><br></strong> </div>
        </div>
      </div>
    </div>
  </div>
</div>