<div class="section offset">
  <div class="container">
    <div class="feature-text-container center-flex">
      <div class="medium-tiempos padding center-on-mobile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ознакомьтесь с нашими курсами</font></font><br></div>
      <div class="center-container flex">
        <a href="https://translate.googleusercontent.com/translate_c?depth=1&amp;rurl=translate.google.com&amp;sl=en&amp;sp=nmt4&amp;tl=ru&amp;u=https://lambdaschool.com/courses/data-science&amp;usg=ALkJrhiZ0c6xA9K4lm4qvk-vJQoyoeqNmg" class="track-link w-inline-block">
          <div class="track-image data"></div>
          <div class="track-text">
            <div class="medium-weight-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наука о данных</font></font><strong><br></strong></div>
            <div class="suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Получить интенсивную подготовку для карьеры в области искусственного интеллекта и машинного обучения. </font></font><strong><br><br></strong></div>
          </div>
        </a>
        <a href="https://translate.googleusercontent.com/translate_c?depth=1&amp;rurl=translate.google.com&amp;sl=en&amp;sp=nmt4&amp;tl=ru&amp;u=https://lambdaschool.com/courses/full-stack-web-development&amp;usg=ALkJrhg5y5jwTTIFEpNXOnfI3LOBj9LN8w" class="track-link w-inline-block">
          <div class="track-image web"></div>
          <div class="track-text">
            <div class="medium-weight-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Full Stack Web</font></font><strong><br></strong></div>
            <div class="suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Изучите основы веб-интерфейса, серверной части, серверов, баз данных, API-интерфейсов и многого другого.</font></font><strong><br></strong></div>
          </div>
        </a>
        <a href="https://translate.googleusercontent.com/translate_c?depth=1&amp;rurl=translate.google.com&amp;sl=en&amp;sp=nmt4&amp;tl=ru&amp;u=https://lambdaschool.com/courses/ios-development&amp;usg=ALkJrhjrBNCSsnCBEaRfkjzFod7A1Chqjw" class="track-link w-inline-block">
          <div class="track-image"></div>
          <div class="track-text">
            <div class="medium-weight-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">iOS разработка</font></font><strong><br></strong></div>
            <div class="suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создавайте мощные приложения для iPhone и iPad с помощью Swift, Objective-C и Cocoa Touch. </font></font><br><font style="vertical-align: inherit;"></font><strong><br></strong></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>