<div class="section red center-full no-padding">
  <div class="fixed-content-center horizontal-mobile">
    <div class="div-right-padding">
      <div class="regular-tiempos small-mobile red">Полгода до</div>
    </div>
    <div class="flex-vertical">
      <div class="medium-suisse small-mobile">нового начала.</div>
      <div class="medium-suisse small-mobile">новой мечты.</div>
      <div class="medium-suisse small-mobile">занятий любимым делом.</div>
      <div class="medium-suisse small-mobile">безграничных возможностей.</div>
      <div class="medium-suisse small-mobile">правильного выбора.</div>
      <div class="medium-suisse small-mobile">нового себя.</div>
      <div class="medium-suisse small-mobile">счастливых понедельников.</div>
      <div class="medium-suisse small-mobile">нового изо дня в день.</div>
      <div class="medium-suisse small-mobile negative-padding">определения своего пути.</div>
    </div>
  </div>
</div>