<div class="section red center-full no-padding">
  <div class="fixed-content-center horizontal-mobile">
    <div class="div-right-padding">
      <div class="regular-tiempos small-mobile red"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Полгода до</font></font></div>
    </div>
    <div class="flex-vertical">
      <div class="medium-suisse small-mobile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">нового начала.</font></font></div>
      <div class="medium-suisse small-mobile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">новой мечты.</font></font></div>
      <div class="medium-suisse small-mobile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">занятий любимым делом.</font></font></div>
      <div class="medium-suisse small-mobile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">безграничных возможностей.</font></font></div>
      <div class="medium-suisse small-mobile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">правильного выбора.</font></font></div>
      <div class="medium-suisse small-mobile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">нового себя.</font></font></div>
      <div class="medium-suisse small-mobile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">счастливых понедельников.</font></font></div>
      <div class="medium-suisse small-mobile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">нового изо дня в день.</font></font></div>
      <div class="medium-suisse small-mobile negative-padding"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">определения своего пути.</font></font></div>
    </div>
  </div>
</div>