<div class="section flex no-bottom-padding">
  <div class="differently"></div>
  <div class="container">
    <div class="right-container">
      <div class="medium-tiempos padding">BITS работает, потому что она работает по-другому.<br></div>
      <div class="item">
        <div class="number">1</div>
        <div class="small-suisse no-padding checks">Опыт живого сотрудничества между командами.</div>
      </div>
      <div class="item">
        <div class="number">2</div>
        <div class="small-suisse no-padding checks">Создание реальных проектов для вашего портфолио.</div>
      </div>
      <div class="item">
        <div class="number">3</div>
        <div class="small-suisse no-padding checks">Учиться онлайн из любой точки мира.</div>
      </div>
      <div class="item">
        <div class="number">4</div>
        <div class="small-suisse no-padding checks">Подготовка к собеседованиям с карьерными тренерами и наставниками.</div>
      </div>
      <div class="item">
        <div class="number">5</div>
        <div class="small-suisse no-padding checks">Связаться с менеджерами по найму в нашей сети.</div>
      </div>
      <a href="/curriculum" class="link-underline _18 space _16-mobile w-inline-block">
        <div>Узнайте о нашей учебной программе</div>
      </a>
    </div>
  </div>
</div>
