<div class="section flex no-bottom-padding">
  <div class="differently"></div>
  <div class="container">
    <div class="right-container">
      <div class="medium-tiempos padding"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BITS работает, потому что она работает по-другому.</font></font><br></div>
      <div class="item">
        <div class="number"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></div>
        <div class="small-suisse no-padding checks"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Опыт живого сотрудничества между командами.</font></font></div>
      </div>
      <div class="item">
        <div class="number"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></div>
        <div class="small-suisse no-padding checks"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создание реальных проектов для вашего портфолио.</font></font></div>
      </div>
      <div class="item">
        <div class="number"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></div>
        <div class="small-suisse no-padding checks"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Учиться онлайн из любой точки мира.</font></font></div>
      </div>
      <div class="item">
        <div class="number"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></div>
        <div class="small-suisse no-padding checks"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Подготовка к собеседованиям с карьерными тренерами и наставниками.</font></font></div>
      </div>
      <div class="item">
        <div class="number"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></div>
        <div class="small-suisse no-padding checks"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Связаться с менеджерами по найму в нашей сети.</font></font></div>
      </div>
      <a href="/rubyexperts/curriculum" class="link-underline _18 space _16-mobile w-inline-block">
        <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Узнайте о нашей учебной программе</font></font></div>
      </a>
    </div>
  </div>
</div>
