<div class="section offset">
  <div class="container">
    <div class="feature-text-container center-flex">
      <div class="oversized-suisse">Переосмысли<br><span class="oversized-tiempos">обучение</span><span class="oversized-tiempos"></span></div>
      <div class="small-suisse center">BITS - это другой способ учиться. Наша 6-месячная 40-часовая онлайн-программа была разработана при участии менеджеров по найму в технологической отрасли и сочетает академическую теорию с реальным опытом, поэтому вы можете начать новую карьеру в качестве веб-разработчика, разработчика iOS, или Data Scientist к этому времени в следующем году.<br></div>
    </div>
  </div>
</div>