<div class="section offset">
  <div class="container">
    <div class="feature-text-container center-flex">
      <div class="oversized-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Переосмысли</font><span class="oversized-tiempos"><font style="vertical-align: inherit;">обучение</font></span></font><br><font style="vertical-align: inherit;"></font><span class="oversized-tiempos"><font style="vertical-align: inherit;"></font></span></div>
      <div class="small-suisse center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BITS - это другой способ учиться. </font><font style="vertical-align: inherit;">Наша 6-месячная 40-часовая онлайн-программа была разработана при участии менеджеров по найму в технологической отрасли и сочетает академическую теорию с реальным опытом, поэтому вы можете начать новую карьеру в качестве веб-разработчика, разработчика iOS, или Data Scientist к этому времени в следующем году.</font></font><br></div>
    </div>
  </div>
</div>