<div class="section photo-offset">
  <div class="hired-photos">
    <div class="student1 student2">
      <div class="smallest-suisse extra-padding"><strong>Джордан</strong><br> Процессор → Инженер в Big Commerce</div>
    </div>
    <div class="student1 student3">
      <div class="smallest-suisse extra-padding"><strong>Chris</strong><br> Store Clerk → Веб-инженер в Clover</div>
    </div>
    <div class="student1 student4">
      <div class="smallest-suisse extra-padding"><strong>Katia <br>Бейкер</strong> → Web Developer в FluentStream</div>
    </div>
    <div class="student1 student5">
      <div class="smallest-suisse extra-padding"><strong>Джереми<br></strong> Учитель → Инженер-программист в MemSQL</div>
    </div>
    <div class="student1">
      <div class="smallest-suisse extra-padding"><strong>Кристофер</strong><br> Матрас Продавец → Веб-инженер в Neat</div>
    </div>
  </div>
</div>