<div class="section photo-offset">
  <div class="hired-photos">
    <div class="student1 student2">
      <div class="smallest-suisse extra-padding"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Джордан</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Процессор → Инженер в Big Commerce</font></font></div>
    </div>
    <div class="student1 student3">
      <div class="smallest-suisse extra-padding"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chris</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Store Clerk → Веб-инженер в Clover</font></font></div>
    </div>
    <div class="student1 student4">
      <div class="smallest-suisse extra-padding"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Katia </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Бейкер</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> → Web Developer в FluentStream</font></font></div>
    </div>
    <div class="student1 student5">
      <div class="smallest-suisse extra-padding"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Джереми</font></font><br></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Учитель → Инженер-программист в MemSQL</font></font></div>
    </div>
    <div class="student1">
      <div class="smallest-suisse extra-padding"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Кристофер</font></font></strong><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Матрас Продавец → Веб-инженер в Neat</font></font></div>
    </div>
  </div>
</div>