<div data-duration-in="300" data-duration-out="100" class="course-tabs w-tabs">
<div class="tab-menu left w-tab-menu" role="tablist">
  <a data-w-tab="Tab 1" class="tab-link w-inline-block w-tab-link w--current" id="w-tabs-0-data-w-tab-0" href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
  </a>
</div>
<div class="w-tab-content">
  <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-0" style="opacity: 1; transition: opacity 300ms ease 0s;">
    <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
      <div class="tab-menu w-tab-menu" role="tablist">
        <a data-w-tab="Tab 1" class="big-tab-link left-tab w-inline-block w-tab-link w--current" id="w-tabs-1-data-w-tab-0" href="#w-tabs-1-data-w-pane-0" role="tab" aria-controls="w-tabs-1-data-w-pane-0" aria-selected="true">
          <div class="smaller-suisse"><strong class="time-titile">На постоянной основе</strong></div>
        </a>
        <a data-w-tab="Tab 2" class="big-tab-link w-inline-block w-tab-link" id="w-tabs-1-data-w-tab-1" href="#w-tabs-1-data-w-pane-1" role="tab" aria-controls="w-tabs-1-data-w-pane-1" aria-selected="false" tabindex="-1">
          <div class="time-titile">Неполная занятость</div>
        </a>
        <!-- <a data-w-tab="Tab 3" class="big-tab-link right-tab w-inline-block w-tab-link" id="w-tabs-1-data-w-tab-2" href="#w-tabs-1-data-w-pane-2" role="tab" aria-controls="w-tabs-1-data-w-pane-2" aria-selected="false" tabindex="-1">
          <div class="time-titile">Неполная занятость</div>
          <div class="time-titile small">Дополнительная опция только для Интернета</div>
        </a> -->
      </div>
      <div class="tab-holder w-tab-content">
        <div data-w-tab="Tab 1" class="tab-content w-tab-pane w--tab-active" id="w-tabs-1-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-0" style="opacity: 1; transition: opacity 300ms ease 0s;">
          <div class="tab-content-holder">
            <div class="time-box">
              <div class="hour">
                <div class="time">8:00 - 9:00</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Разогрев</div>
                <div class="smaller-suisse">Личное время, чтобы просмотреть материалы дня перед началом обучения</div>
              </div>
            </div>
            <div class="time-box">
              <div class="hour">
                <div class="time">9:00 - 11:00</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Управляемый проект</div>
                <div class="smaller-suisse">Создайте проект, следуя указаниям инструктора</div>
              </div>
            </div>
            <div class="time-box">
              <div class="hour">
                <div class="time">11:00 - 12:00</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Обеденный перерыв</div>
              </div>
            </div>
            <div class="time-box">
              <div class="hour">
                <div class="time">12:00 - 15:45</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Время своего проекта</div>
                <div class="smaller-suisse">Создайте самостоятельно и получайте помощь от сверстников и учителей в Slack</div>
              </div>
            </div>
            <div class="time-box">
              <div class="hour">
                <div class="time">15:45 - 16:15</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Закрепление материала</div>
                <div class="smaller-suisse">Ежедневный опрос о вашем прогрессе</div>
              </div>
            </div>
            <div class="time-box">
              <div class="hour">
                <div class="time">16:15 - 17:00</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Stand Up</div>
                <div class="smaller-suisse">Ежедневно встречайтесь с менеджером проекта и 6-8 студентами для поддержки</div>
              </div>
            </div>
            <div class="time-footnote">
              <div class="time-titile footer">Занятия с понедельника по пятницу</div>
            </div>
          </div>
        </div>
        <div data-w-tab="Tab 2" class="tab-content w-tab-pane" id="w-tabs-1-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-1" style="">
          <div class="tab-content-holder">
            <div class="time-box">
              <div class="hour">
                <div class="time">18:00 - 18:30</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Разогрев</div>
                <div class="smaller-suisse">Личное время, чтобы просмотреть материалы дня перед началом обучения</div>
              </div>
            </div>
            <div class="time-box">
              <div class="hour">
                <div class="time">18:30 - 20:30</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Управляемый проект</div>
                <div class="smaller-suisse">Создайте проект, следуя указаниям инструктора</div>
              </div>
            </div>
            <div class="time-box">
              <div class="hour">
                <div class="time">20:30 - 21:00</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Время своего проекта</div>
                <div class="smaller-suisse">Создайте самостоятельно и получайте помощь от сверстников и учителей в Slack</div>
              </div>
            </div>
            <div class="time-footnote">
              <div class="time-titile footer">Занятия проходят с понедельника по четверг, плюс 5-й день по вашему выбору (пятница, суббота или воскресенье)</div>
            </div>
          </div>
        </div>
        <!-- <div data-w-tab="Tab 3" class="tab-content w-tab-pane" id="w-tabs-1-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-2" style="">
          <div class="tab-content-holder">
            <div class="time-box">
              <div class="hour">
                <div class="time">16:00 - 16:30</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Разогревать</div>
                <div class="smaller-suisse">Личное время, чтобы просмотреть материалы дня перед началом обучения</div>
              </div>
            </div>
            <div class="time-box">
              <div class="hour">
                <div class="time">16:30 - 18:30</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Управляемый проект</div>
                <div class="smaller-suisse">Создайте проект, следуя указаниям инструктора</div>
              </div>
            </div>
            <div class="time-box">
              <div class="hour">
                <div class="time">18:30 - 19:00</div>
              </div>
              <div class="time-description">
                <div class="time-titile">Время проекта</div>
                <div class="smaller-suisse">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</div>
              </div>
            </div>
            <div class="time-footnote">
              <div class="time-titile footer">Занятия проходят с понедельника по четверг, плюс 5-й день по вашему выбору (пятница, суббота или воскресенье)</div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>