<div data-duration-in="300" data-duration-out="100" class="course-tabs w-tabs">
  <div class="tab-menu left w-tab-menu" role="tablist">
    <a data-w-tab="Tab 1" class="tab-link w-inline-block w-tab-link w--current" id="w-tabs-0-data-w-tab-0" href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
      <div><font style="vertical-align: inherit; display: none;"><font style="vertical-align: inherit;" class="">Тихий океан (PST)</font></font></div>
    </a>
  </div>
  <div class="w-tab-content">
    <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-0" style="opacity: 1; transition: opacity 300ms ease 0s;">
      <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
        <div class="tab-menu w-tab-menu" role="tablist">
          <a data-w-tab="Tab 1" class="big-tab-link left-tab w-inline-block w-tab-link w--current" id="w-tabs-1-data-w-tab-0" href="#w-tabs-1-data-w-pane-0" role="tab" aria-controls="w-tabs-1-data-w-pane-0" aria-selected="true">
            <div class="smaller-suisse"><strong class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class="">На постоянной основе</font></font></strong></div>
          </a>
          <a data-w-tab="Tab 2" class="big-tab-link w-inline-block w-tab-link" id="w-tabs-1-data-w-tab-1" href="#w-tabs-1-data-w-pane-1" role="tab" aria-controls="w-tabs-1-data-w-pane-1" aria-selected="false" tabindex="-1">
            <div class="time-titile"><font style="vertical-align: inherit;"><font class="" style="vertical-align: inherit;">Неполная занятость</font></font></div>
          </a>
          <a data-w-tab="Tab 3" class="big-tab-link right-tab w-inline-block w-tab-link" id="w-tabs-1-data-w-tab-2" href="#w-tabs-1-data-w-pane-2" role="tab" aria-controls="w-tabs-1-data-w-pane-2" aria-selected="false" tabindex="-1">
            <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Неполная занятость</font></font></div>
            <div class="time-titile small"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Дополнительная опция только для Интернета</font></font></div>
          </a>
        </div>
        <div class="tab-holder w-tab-content">
          <div data-w-tab="Tab 1" class="tab-content w-tab-pane w--tab-active" id="w-tabs-1-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-0" style="opacity: 1; transition: opacity 300ms ease 0s;">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">8:00 - 9:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9:00 - 11:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11:00 - 12:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Обеденный перерыв</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12:00 - 15:45</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15:45 - 16:15</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Project Wrap</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ежедневный опрос о вашем прогрессе</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">16:15 - 5:00 вечера</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вставать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ежедневно встречайтесь с менеджером проекта и 6-8 студентами для поддержки</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия с понедельника по пятницу</font></font></div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="tab-content w-tab-pane" id="w-tabs-1-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-1" style="">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">18:00 - 18:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">18:30 - 20:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20:30 - 21:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия проходят с понедельника по четверг, плюс 5-й день по вашему выбору (пятница, суббота или воскресенье)</font></font></div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="tab-content w-tab-pane" id="w-tabs-1-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-2" style="">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">16:00 - 16:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">16:30 - 18:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">18:30 - 19:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия проходят с понедельника по четверг, плюс 5-й день по вашему выбору (пятница, суббота или воскресенье)</font></font></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--   <div data-w-tab="Tab 2" class="w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-1" style="">
      <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
        <div class="tab-menu w-tab-menu" role="tablist">
          <a data-w-tab="Tab 1" class="big-tab-link left-tab w-inline-block w-tab-link" id="w-tabs-2-data-w-tab-0" href="#w-tabs-2-data-w-pane-0" role="tab" aria-controls="w-tabs-2-data-w-pane-0" aria-selected="false" tabindex="-1">
            <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">На постоянной основе</font></font></div>
          </a>
          <a data-w-tab="Tab 2" class="big-tab-link w-inline-block w-tab-link" id="w-tabs-2-data-w-tab-1" href="#w-tabs-2-data-w-pane-1" role="tab" aria-controls="w-tabs-2-data-w-pane-1" aria-selected="false" tabindex="-1">
            <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Неполная занятость</font></font></div>
          </a>
          <a data-w-tab="Tab 3" class="big-tab-link right-tab w-inline-block w-tab-link w--current" id="w-tabs-2-data-w-tab-2" href="#w-tabs-2-data-w-pane-2" role="tab" aria-controls="w-tabs-2-data-w-pane-2" aria-selected="true">
            <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Неполная занятость</font></font><br></div>
            <div class="time-titile small"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Дополнительная опция только для Интернета</font></font></div>
          </a>
        </div>
        <div class="tab-holder w-tab-content">
          <div data-w-tab="Tab 1" class="tab-content w-tab-pane" id="w-tabs-2-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-2-data-w-tab-0" style="">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9:00 - 10:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10:00 - 12:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12:00 - 13:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Обеденный перерыв</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1:00 - 16:45</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4:45 - 17:15</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Project Wrap</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ежедневный опрос о вашем прогрессе</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5:15 - 18:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вставать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ежедневно встречайтесь с менеджером проекта и 6-8 студентами для поддержки</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия с понедельника по пятницу</font></font></div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="tab-content w-tab-pane" id="w-tabs-2-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-2-data-w-tab-1" style="">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7:00 - 19:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7:30 - 21:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9:30 - 22:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия проходят с понедельника по четверг, плюс 5-й день по вашему выбору (пятница, суббота или воскресенье)</font></font></div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="tab-content w-tab-pane w--tab-active" id="w-tabs-2-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-2-data-w-tab-2" style="opacity: 1; transition: opacity 300ms ease 0s;">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5:00 - 17:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5:30 - 19:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7:30 - 20:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия проходят с понедельника по четверг, плюс 5-й день по вашему выбору (пятница, суббота или воскресенье)</font></font></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-w-tab="Tab 3" class="w-tab-pane" id="w-tabs-0-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-2" style="">
      <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
        <div class="tab-menu w-tab-menu" role="tablist">
          <a data-w-tab="Tab 1" class="big-tab-link left-tab w-inline-block w-tab-link" id="w-tabs-3-data-w-tab-0" href="#w-tabs-3-data-w-pane-0" role="tab" aria-controls="w-tabs-3-data-w-pane-0" aria-selected="false" tabindex="-1">
            <div class="smaller-suisse"><strong class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">На постоянной основе</font></font></strong></div>
          </a>
          <a data-w-tab="Tab 2" class="big-tab-link w-inline-block w-tab-link" id="w-tabs-3-data-w-tab-1" href="#w-tabs-3-data-w-pane-1" role="tab" aria-controls="w-tabs-3-data-w-pane-1" aria-selected="false" tabindex="-1">
            <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Неполная занятость</font></font></div>
          </a>
          <a data-w-tab="Tab 3" class="big-tab-link right-tab w-inline-block w-tab-link w--current" id="w-tabs-3-data-w-tab-2" href="#w-tabs-3-data-w-pane-2" role="tab" aria-controls="w-tabs-3-data-w-pane-2" aria-selected="true">
            <div class="smaller-suisse"><span class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Неполная занятость</font></font></span><br></div>
            <div class="time-titile small"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Дополнительная опция только для Интернета</font></font></div>
          </a>
        </div>
        <div class="tab-holder w-tab-content">
          <div data-w-tab="Tab 1" class="tab-content w-tab-pane" id="w-tabs-3-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-3-data-w-tab-0" style="">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10:00 - 12:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12:00 - 13:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">13:00 - 14:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Обеденный перерыв</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2:00 - 17:45</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5:45 - 6:15 вечера</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Project Wrap</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ежедневный опрос о вашем прогрессе</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6:15 - 7:00 вечера</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вставать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ежедневно встречайтесь с менеджером проекта и 6-8 студентами для поддержки</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия с понедельника по пятницу</font></font></div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="tab-content w-tab-pane" id="w-tabs-3-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-3-data-w-tab-1" style="">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">8:00 - 8:30 вечера</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">8:30 - 22:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">10:30 - 23:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия проходят с понедельника по четверг, плюс 5-й день по вашему выбору (пятница, суббота или воскресенье)</font></font></div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="tab-content w-tab-pane w--tab-active" id="w-tabs-3-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-3-data-w-tab-2" style="opacity: 1; transition: opacity 300ms ease 0s;">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6:00 - 18:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6:30 - 20:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">8:30 - 21:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия проходят с понедельника по четверг, плюс 5-й день по вашему выбору (пятница, суббота или воскресенье)</font></font></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-w-tab="Tab 4" class="w-tab-pane" id="w-tabs-0-data-w-pane-3" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-3" style="">
      <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
        <div class="tab-menu w-tab-menu" role="tablist">
          <a data-w-tab="Tab 1" class="big-tab-link left-tab w-inline-block w-tab-link w--current" id="w-tabs-4-data-w-tab-0" href="#w-tabs-4-data-w-pane-0" role="tab" aria-controls="w-tabs-4-data-w-pane-0" aria-selected="true">
            <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class="">На постоянной основе</font></font></div>
          </a>
          <a data-w-tab="Tab 2" class="big-tab-link w-inline-block w-tab-link" id="w-tabs-4-data-w-tab-1" href="#w-tabs-4-data-w-pane-1" role="tab" aria-controls="w-tabs-4-data-w-pane-1" aria-selected="false" tabindex="-1">
            <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" class="">Неполная занятость</font></font></div>
          </a>
          <a data-w-tab="Tab 3" class="big-tab-link right-tab w-inline-block w-tab-link" id="w-tabs-4-data-w-tab-2" href="#w-tabs-4-data-w-pane-2" role="tab" aria-controls="w-tabs-4-data-w-pane-2" aria-selected="false" tabindex="-1">
            <div class="smaller-suisse"><span class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Неполная занятость</font></font></span><br></div>
            <div class="time-titile small"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Дополнительная опция только для Интернета</font></font></div>
          </a>
        </div>
        <div class="tab-holder w-tab-content">
          <div data-w-tab="Tab 1" class="tab-content w-tab-pane w--tab-active" id="w-tabs-4-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-4-data-w-tab-0" style="opacity: 1; transition: opacity 300ms ease 0s;">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11:00 - 12:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12:00 - 14:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2:00 - 15:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Обеденный перерыв</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3:00 - 6:45 вечера</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6:45 - 7:15 вечера</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Project Wrap</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ежедневный опрос о вашем прогрессе</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7:15 - 8:00 вечера</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вставать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ежедневно встречайтесь с менеджером проекта и 6-8 студентами для поддержки</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия с понедельника по пятницу</font></font></div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="tab-content w-tab-pane" id="w-tabs-4-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-4-data-w-tab-1" style="">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9:00 - 21:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9:30 - 23:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11:30 - 12:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия проходят с понедельника по четверг, плюс 5-й день по вашему выбору (пятница, суббота или воскресенье)</font></font></div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="tab-content w-tab-pane" id="w-tabs-4-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-4-data-w-tab-2" style="">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7:00 - 19:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7:30 - 21:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9:30 - 22:00</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия проходят с понедельника по четверг, плюс 5-й день по вашему выбору (пятница, суббота или воскресенье)</font></font></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>