<div data-duration-in="300" data-duration-out="100" class="course-tabs w-tabs">
  <div class="tab-menu left w-tab-menu" role="tablist">
    <a data-w-tab="Tab 1" class="tab-link w-inline-block w-tab-link w--current" id="w-tabs-0-data-w-tab-0" href="https://lambdaschool.com/curriculum#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
      <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font class="" style="vertical-align: inherit;">Тихий океан (PST)</font></font></font></font></div>
    </a>
    <a data-w-tab="Tab 2" class="tab-link w-inline-block w-tab-link" tabindex="-1" id="w-tabs-0-data-w-tab-1" href="https://lambdaschool.com/curriculum#w-tabs-0-data-w-pane-1" role="tab" aria-controls="w-tabs-0-data-w-pane-1" aria-selected="false">
      <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Гора (GMT)</font></font></font></font></div>
    </a>
    <a data-w-tab="Tab 3" class="tab-link w-inline-block w-tab-link" tabindex="-1" id="w-tabs-0-data-w-tab-2" href="https://lambdaschool.com/curriculum#w-tabs-0-data-w-pane-2" role="tab" aria-controls="w-tabs-0-data-w-pane-2" aria-selected="false">
      <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Центральный (КНТ)</font></font></font></font></div>
    </a>
    <a data-w-tab="Tab 4" class="tab-link w-inline-block w-tab-link" tabindex="-1" id="w-tabs-0-data-w-tab-3" href="https://lambdaschool.com/curriculum#w-tabs-0-data-w-pane-3" role="tab" aria-controls="w-tabs-0-data-w-pane-3" aria-selected="false">
      <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Восточный (EST)</font></font></font></font></div>
    </a>
  </div>
  <div class="w-tab-content">
    <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-0">
      <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
        <div class="tab-menu w-tab-menu" role="tablist">
          <a data-w-tab="Tab 1" class="big-tab-link left-tab w-inline-block w-tab-link w--current" id="w-tabs-1-data-w-tab-0" href="https://lambdaschool.com/curriculum#w-tabs-1-data-w-pane-0" role="tab" aria-controls="w-tabs-1-data-w-pane-0" aria-selected="true">
            <div class="smaller-suisse"><strong class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">На постоянной основе</font></font></font></font></strong></div>
          </a>
          <a data-w-tab="Tab 2" class="big-tab-link w-inline-block w-tab-link" tabindex="-1" id="w-tabs-1-data-w-tab-1" href="https://lambdaschool.com/curriculum#w-tabs-1-data-w-pane-1" role="tab" aria-controls="w-tabs-1-data-w-pane-1" aria-selected="false">
            <div class="time-titile"><font style="vertical-align: inherit;"><font class="" style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Неполная занятость</font></font></font></font></div>
          </a>
          <a data-w-tab="Tab 3" class="big-tab-link right-tab w-inline-block w-tab-link" tabindex="-1" id="w-tabs-1-data-w-tab-2" href="https://lambdaschool.com/curriculum#w-tabs-1-data-w-pane-2" role="tab" aria-controls="w-tabs-1-data-w-pane-2" aria-selected="false">
            <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Неполная занятость</font></font></font></font></div>
            <div class="time-titile small"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Опция только для Интернета</font></font></font></font></div>
          </a>
        </div>
        <div class="tab-holder w-tab-content">
          <div data-w-tab="Tab 1" class="tab-content w-tab-pane w--tab-active" id="w-tabs-1-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-0">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">8:00 - 9:00</font></font></font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы опубликовать материалы дня перед началом обучения</font></font></font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9:00 - 11:00</font></font></font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте проект, следуя указаниям инструктора</font></font></font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11:00 - 12:00</font></font></font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Обеденный перерыв</font></font></font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12:00 - 15:45</font></font></font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Время проекта</font></font></font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Создайте самостоятельно и получите помощь по пути от сверстников и учителей в Slack</font></font></font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3:45 - 16:15</font></font></font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Project Wrap</font></font></font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ежедневный опрос о вашем прогрессе</font></font></font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4:15 - 5:00 вечера</font></font></font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вставать</font></font></font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6-8 студентов для поддержки</font></font></font></font></div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Занятия с понедельника по пятницу</font></font></font></font></div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="tab-content w-tab-pane" id="w-tabs-1-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-1">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6:00 - 18:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Разогревать</font></font></div>
                  <div class="smaller-suisse"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Личное время, чтобы просмотреть материалы дня перед началом обучения</font></font></div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6:30 - 20:30</font></font></div>
                </div>
                <div class="time-description">
                  <div class="time-titile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Управляемый проект</font></font></div>
                  <div class="smaller-suisse">Build a project while following the instructor's guidance</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">8:30 - 9:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Time</div>
                  <div class="smaller-suisse">Build on your own and get help along the way from peers and teachers in Slack</div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer">Classes are Monday - Thursday, plus a 5th day of your choice (Friday, Saturday or Sunday)</div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="tab-content w-tab-pane" id="w-tabs-1-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-1-data-w-tab-2">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time">4:00 - 4:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Warm up</div>
                  <div class="smaller-suisse">Personal time to review the day's materials before instruction begins</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">4:30 - 6:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Guided Project</div>
                  <div class="smaller-suisse">Build a project while following the instructor's guidance</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">6:30 - 7:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Time</div>
                  <div class="smaller-suisse">Build on your own and get help along the way from peers and teachers in Slack</div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer">Classes are Monday - Thursday, plus a 5th day of your choice (Friday, Saturday or Sunday)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-w-tab="Tab 2" class="w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-1">
      <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
        <div class="tab-menu w-tab-menu" role="tablist">
          <a data-w-tab="Tab 1" class="big-tab-link left-tab w-inline-block w-tab-link w--current" id="w-tabs-2-data-w-tab-0" href="https://lambdaschool.com/curriculum#w-tabs-2-data-w-pane-0" role="tab" aria-controls="w-tabs-2-data-w-pane-0" aria-selected="true">
            <div class="time-titile">Full Time</div>
          </a>
          <a data-w-tab="Tab 2" class="big-tab-link w-inline-block w-tab-link" tabindex="-1" id="w-tabs-2-data-w-tab-1" href="https://lambdaschool.com/curriculum#w-tabs-2-data-w-pane-1" role="tab" aria-controls="w-tabs-2-data-w-pane-1" aria-selected="false">
            <div class="time-titile">Part Time</div>
          </a>
          <a data-w-tab="Tab 3" class="big-tab-link right-tab w-inline-block w-tab-link" tabindex="-1" id="w-tabs-2-data-w-tab-2" href="https://lambdaschool.com/curriculum#w-tabs-2-data-w-pane-2" role="tab" aria-controls="w-tabs-2-data-w-pane-2" aria-selected="false">
            <div class="time-titile">Part Time<br></div>
            <div class="time-titile small">Additional option for Web only</div>
          </a>
        </div>
        <div class="tab-holder w-tab-content">
          <div data-w-tab="Tab 1" class="tab-content w-tab-pane w--tab-active" id="w-tabs-2-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-2-data-w-tab-0">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time">9:00 - 10:00 am</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Warm up</div>
                  <div class="smaller-suisse">Personal time to review the day's materials before instruction begins</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">10:00 - 12:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Guided Project</div>
                  <div class="smaller-suisse">Build a project while following the instructor's guidance</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">12:00 - 1:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Lunch Break</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">1:00 - 4:45 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Time</div>
                  <div class="smaller-suisse">Build on your own and get help along the way from peers and teachers in Slack</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">4:45 - 5:15 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Wrap</div>
                  <div class="smaller-suisse">Take a daily survey about your progress</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">5:15 - 6:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Stand Up</div>
                  <div class="smaller-suisse">Meet daily with your Project Manager and 6 to 8 students for support</div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer">Classes are Monday - Friday</div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="tab-content w-tab-pane" id="w-tabs-2-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-2-data-w-tab-1">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time">7:00 - 7:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Warm up</div>
                  <div class="smaller-suisse">Personal time to review the day's materials before instruction begins</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">7:30 - 9:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Guided Project</div>
                  <div class="smaller-suisse">Build a project while following the instructor's guidance</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">9:30 - 10:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Time</div>
                  <div class="smaller-suisse">Build on your own and get help along the way from peers and teachers in Slack</div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer">Classes are Monday - Thursday, plus a 5th day of your choice (Friday, Saturday or Sunday)</div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="tab-content w-tab-pane" id="w-tabs-2-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-2-data-w-tab-2">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time">5:00 - 5:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Warm up</div>
                  <div class="smaller-suisse">Personal time to review the day's materials before instruction begins</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">5:30 - 7:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Guided Project</div>
                  <div class="smaller-suisse">Build a project while following the instructor's guidance</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">7:30 - 8:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Time</div>
                  <div class="smaller-suisse">Build on your own and get help along the way from peers and teachers in Slack</div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer">Classes are Monday - Thursday, plus a 5th day of your choice (Friday, Saturday or Sunday)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-w-tab="Tab 3" class="w-tab-pane" id="w-tabs-0-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-2">
      <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
        <div class="tab-menu w-tab-menu" role="tablist">
          <a data-w-tab="Tab 1" class="big-tab-link left-tab w-inline-block w-tab-link w--current" id="w-tabs-3-data-w-tab-0" href="https://lambdaschool.com/curriculum#w-tabs-3-data-w-pane-0" role="tab" aria-controls="w-tabs-3-data-w-pane-0" aria-selected="true">
            <div class="smaller-suisse"><strong class="time-titile">Full Time</strong></div>
          </a>
          <a data-w-tab="Tab 2" class="big-tab-link w-inline-block w-tab-link" tabindex="-1" id="w-tabs-3-data-w-tab-1" href="https://lambdaschool.com/curriculum#w-tabs-3-data-w-pane-1" role="tab" aria-controls="w-tabs-3-data-w-pane-1" aria-selected="false">
            <div class="time-titile">Part Time</div>
          </a>
          <a data-w-tab="Tab 3" class="big-tab-link right-tab w-inline-block w-tab-link" tabindex="-1" id="w-tabs-3-data-w-tab-2" href="https://lambdaschool.com/curriculum#w-tabs-3-data-w-pane-2" role="tab" aria-controls="w-tabs-3-data-w-pane-2" aria-selected="false">
            <div class="smaller-suisse"><span class="time-titile">Part Time</span><br></div>
            <div class="time-titile small">Additional option for Web only</div>
          </a>
        </div>
        <div class="tab-holder w-tab-content">
          <div data-w-tab="Tab 1" class="tab-content w-tab-pane w--tab-active" id="w-tabs-3-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-3-data-w-tab-0">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time">10:00 - 12:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Warm up</div>
                  <div class="smaller-suisse">Personal time to review the day's materials before instruction begins</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">12:00 - 1:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Guided Project</div>
                  <div class="smaller-suisse">Build a project while following the instructor's guidance</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">1:00 - 2:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Lunch Break</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">2:00 - 5:45 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Time</div>
                  <div class="smaller-suisse">Build on your own and get help along the way from peers and teachers in Slack</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">5:45 - 6:15 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Wrap</div>
                  <div class="smaller-suisse">Take a daily survey about your progress</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">6:15 - 7:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Stand Up</div>
                  <div class="smaller-suisse">Meet daily with your Project Manager and 6 to 8 students for support</div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer">Classes are Monday - Friday</div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="tab-content w-tab-pane" id="w-tabs-3-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-3-data-w-tab-1">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time">8:00 - 8:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Warm up</div>
                  <div class="smaller-suisse">Personal time to review the day's materials before instruction begins</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">8:30 - 10:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Guided Project</div>
                  <div class="smaller-suisse">Build a project while following the instructor's guidance</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">10:30 - 11:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Time</div>
                  <div class="smaller-suisse">Build on your own and get help along the way from peers and teachers in Slack</div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer">Classes are Monday - Thursday, plus a 5th day of your choice (Friday, Saturday or Sunday)</div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="tab-content w-tab-pane" id="w-tabs-3-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-3-data-w-tab-2">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time">6:00 - 6:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Warm up</div>
                  <div class="smaller-suisse">Personal time to review the day's materials before instruction begins</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">6:30 - 8:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Guided Project</div>
                  <div class="smaller-suisse">Build a project while following the instructor's guidance</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">8:30 - 9:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Time</div>
                  <div class="smaller-suisse">Build on your own and get help along the way from peers and teachers in Slack</div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer">Classes are Monday - Thursday, plus a 5th day of your choice (Friday, Saturday or Sunday)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-w-tab="Tab 4" class="w-tab-pane" id="w-tabs-0-data-w-pane-3" role="tabpanel" aria-labelledby="w-tabs-0-data-w-tab-3">
      <div data-duration-in="300" data-duration-out="100" class="tabs-2 w-tabs">
        <div class="tab-menu w-tab-menu" role="tablist">
          <a data-w-tab="Tab 1" class="big-tab-link left-tab w-inline-block w-tab-link w--current" id="w-tabs-4-data-w-tab-0" href="https://lambdaschool.com/curriculum#w-tabs-4-data-w-pane-0" role="tab" aria-controls="w-tabs-4-data-w-pane-0" aria-selected="true">
            <div class="time-titile">Full Time</div>
          </a>
          <a data-w-tab="Tab 2" class="big-tab-link w-inline-block w-tab-link" tabindex="-1" id="w-tabs-4-data-w-tab-1" href="https://lambdaschool.com/curriculum#w-tabs-4-data-w-pane-1" role="tab" aria-controls="w-tabs-4-data-w-pane-1" aria-selected="false">
            <div class="time-titile">Part Time</div>
          </a>
          <a data-w-tab="Tab 3" class="big-tab-link right-tab w-inline-block w-tab-link" tabindex="-1" id="w-tabs-4-data-w-tab-2" href="https://lambdaschool.com/curriculum#w-tabs-4-data-w-pane-2" role="tab" aria-controls="w-tabs-4-data-w-pane-2" aria-selected="false">
            <div class="smaller-suisse"><span class="time-titile">Part Time</span><br></div>
            <div class="time-titile small">Additional option for Web only</div>
          </a>
        </div>
        <div class="tab-holder w-tab-content">
          <div data-w-tab="Tab 1" class="tab-content w-tab-pane w--tab-active" id="w-tabs-4-data-w-pane-0" role="tabpanel" aria-labelledby="w-tabs-4-data-w-tab-0">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time">11:00 - 12:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Warm up</div>
                  <div class="smaller-suisse">Personal time to review the day's materials before instruction begins</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">12:00 - 2:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Guided Project</div>
                  <div class="smaller-suisse">Build a project while following the instructor's guidance</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">2:00 - 3:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Lunch Break</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">3:00 - 6:45 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Time</div>
                  <div class="smaller-suisse">Build on your own and get help along the way from peers and teachers in Slack</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">6:45 - 7:15 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Wrap</div>
                  <div class="smaller-suisse">Take a daily survey about your progress</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">7:15 - 8:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Stand Up</div>
                  <div class="smaller-suisse">Meet daily with your Project Manager and 6 to 8 students for support</div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer">Classes are Monday - Friday</div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="tab-content w-tab-pane" id="w-tabs-4-data-w-pane-1" role="tabpanel" aria-labelledby="w-tabs-4-data-w-tab-1">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time">9:00 - 9:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Warm up</div>
                  <div class="smaller-suisse">Personal time to review the day's materials before instruction begins</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">9:30 - 11:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Guided Project</div>
                  <div class="smaller-suisse">Build a project while following the instructor's guidance</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">11:30 - 12:00 am</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Time</div>
                  <div class="smaller-suisse">Build on your own and get help along the way from peers and teachers in Slack</div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer">Classes are Monday - Thursday, plus a 5th day of your choice (Friday, Saturday or Sunday)</div>
              </div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="tab-content w-tab-pane" id="w-tabs-4-data-w-pane-2" role="tabpanel" aria-labelledby="w-tabs-4-data-w-tab-2">
            <div class="tab-content-holder">
              <div class="time-box">
                <div class="hour">
                  <div class="time">7:00 - 7:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Warm up</div>
                  <div class="smaller-suisse">Personal time to review the day's materials before instruction begins</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">7:30 - 9:30 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Guided Project</div>
                  <div class="smaller-suisse">Build a project while following the instructor's guidance</div>
                </div>
              </div>
              <div class="time-box">
                <div class="hour">
                  <div class="time">9:30 - 10:00 pm</div>
                </div>
                <div class="time-description">
                  <div class="time-titile">Project Time</div>
                  <div class="smaller-suisse">Build on your own and get help along the way from peers and teachers in Slack</div>
                </div>
              </div>
              <div class="time-footnote">
                <div class="time-titile footer">Classes are Monday - Thursday, plus a 5th day of your choice (Friday, Saturday or Sunday)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>