<!DOCTYPE html>
<html lang="ru">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165406584-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-165406584-1');
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="Начните свою новую техническую карьеру в любом месте всего за 6 месяцев и ничего не платите, пока не получите высокооплачиваемую работу. Посещайте онлайн, онлайн-занятия с индивидуальной помощью, когда вам это нужно. Полный и неполный рабочий день доступны." name="description">
    <meta content="Business IT School" property="og:title">
    <meta content="Начните свою новую техническую карьеру в любом месте всего за 6 месяцев и ничего не платите, пока не получите высокооплачиваемую работу. Посещайте онлайн, онлайн-занятия с индивидуальной помощью, когда вам это нужно. Полный и неполный рабочий день доступны." property="og:description">
    <meta content="https://assets-global.website-files.com/5cd091cfb5499f22bdf72905/5e399822fddd8c6f15951bf5_lambda-student.jpg" property="og:image">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="./index_files/lambdaschool-com.2b12b23af.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div data-collapse="medium" data-animation="over-right" data-duration="400" class="navbar mobile-nav w-nav">
      <div class="navigation-wrap">
        <a href="/" id="logo-link" class="logo-link w-nav-brand"><img src="./index_files/5dcda59e63bb6ae5c9282801_small-red-logo-b.png" width="130" sizes="(max-width: 991px) 100vw, 130px" alt="" class="new-logo">
        </a>
        <div class="menu">
          <nav role="navigation" class="mobile-nav-items w-nav-menu" style="transform: translateX(0px) translateY(0px); height: 6737.64px; transition: transform 400ms ease 0s;" data-nav-menu-open="">
          <div class="mobile-nav-background"></div>
          <a href="/curriculum" class="nav-item-mobile w-nav-link w--nav-link-open">Учебный план</a>
          <a href="/career-placement" class="nav-item-mobile w-nav-link w--nav-link-open">Карьера</a>
          <a href="/isa" class="nav-item-mobile w-nav-link w--nav-link-open">Как мы работаем?</a>
          <a href="/hire-bits-expert" id="nav-blog" class="nav-item-mobile w-nav-link w--nav-link-open">Компаниям</a><a href="/register" class="apply-mobile w-nav-link w--nav-link-open">Перезвоните мне</a>
        </nav>
          <div class="menu-button w-nav-button"><img src="https://assets-global.website-files.com/5cd091cfb5499f22bdf72905/5cd0922159aa3288d96fd7d8_menu.gif" width="22" alt="" class="menu-icon"></div>
        </div>
      <div class="w-nav-overlay" data-wf-ignore="" style="display: none;">
      </div>
    </div>
    <div data-collapse="none" data-animation="over-right" data-duration="400" class="nav w-nav">
      <div class="navigation-wrap">
        <a href="/" id="logo-link" class="logo-link w-nav-brand"><img src="./index_files/5dcda59e63bb6ae5c9282801_small-red-logo-b.png" width="130" sizes="(max-width: 991px) 100vw, 130px" alt="" class="new-logo"></a>
        <div class="menu">
          <nav role="navigation" class="navigation-items w-nav-menu">
            <div class="mobile-navbar"></div>
            <div data-hover="1" data-delay="0" class="dropdown w-dropdown">
              <div class="nav-item w-dropdown-toggle">
                <div class="w-icon-dropdown-toggle"></div>
                <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Почему BITS?</font></font></div>
              </div>
              <nav class="dropdown-list w-dropdown-list"><a href="/curriculum" class="nav-dropdown-item w-dropdown-link"><font style="vertical-align: inherit;"></font></a><a href="/career-placement" class="nav-dropdown-item w-dropdown-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Карьера </font></font></a><font style="vertical-align: inherit;"><a href="/curriculum" class="nav-dropdown-item w-dropdown-link"><font style="vertical-align: inherit;">Учебный план </font></a></font><a href="/isa" class="nav-dropdown-item w-dropdown-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Как мы работаем?</font></font></a>
              </nav>
            </div>
            <a href="/hire-bits-expert" id="nav-blog" class="nav-item w-nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Компаниям</font></font></a>
          </nav>
          <div class="menu-button w-nav-button"><img src="./index_files/5cac1a8d0ca8b54a9fe84c7a_menu.gif" width="22" alt="" class="menu-icon"></div>
          <a href="/register" class="round-btn left-space w-inline-block">
            <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Перезвоните мне</font></font></div>
          </a>
        </div>
      </div>
    </div>
    {{ content }}
    <div class="section _160 red">
      <div class="container flex vertical">
        <div class="xlarge-tiempos center-mobile cta white"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Готовы </font></font><span class="xlarge-tiempos white cta"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">измениться?</font></font></span><br></div>
        <img src="./index_files/5e156848fa5548643fff5ad2_underline-white.png" width="221" alt="" class="underline-nail">
        <a href="/register" class="round-btn bigger padding white w-inline-block">
          <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Перезвоните мне</font></font></div>
        </a>
        -->
      </div>
    </div>
    <div class="section footer-background">
      <div class="footer-holder">
        <a href="/" aria-current="page" class="footer-icon w-inline-block w--current"><img src="./index_files/5e1230986a42a4d4965e22f6_icon-b.png" width="71" alt=""></a>
        <div class="footer-lists">
          <div class="footer-links">
            <div class="smallest-suisse footer mobile">
              <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">© BITS 2020 </font></font>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./index_files/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script><script src="./index_files/lambdaschool-com.7063c9ba7.js" type="text/javascript"></script>
  </body>
</html>